# ZTR Backend Cloud controla PORT e HOST automaticamente.
# Não coloque segredos neste arquivo.

CORS_ORIGINS=https://racelowpoly.ztrcompany.site

# ZTR Cloud
ZTR_CLOUD_API_URL=https://api.ztrcompany.site
ZTR_CLOUD_URL=https://api.ztrcompany.site
ZTR_CLOUD_PROJECT_ID=proj_e5a8acb65771
ZTR_CLOUD_SECRET_KEY=ztr_sk_ae50ba65330fca9ed17d00e5caa0711b8de1d875db34ec7370b7aefac9671987

# Admin do Race Low Poly
ADMIN_USER=admin
ADMIN_PASS=Julio14121981@
ADMIN_TOKEN_SECRET=14121981@@@@@
