# ZTR Backend Cloud controla PORT e HOST automaticamente.
# Não coloque segredos neste arquivo.

CORS_ORIGINS=https://racelowpoly.ztrcompany.site

# ZTR Cloud
ZTR_CLOUD_API_URL=https://api.ztrcompany.site
ZTR_CLOUD_URL=https://api.ztrcompany.site
ZTR_CLOUD_PROJECT_ID=proj_e5a8acb65771
ZTR_CLOUD_SECRET_KEY=COLOQUE_A_SECRET_KEY_SOMENTE_NO_ENVIRONMENT_DO_BACKEND

# Admin do Race Low Poly
ADMIN_USER=admin
ADMIN_PASS=COLOQUE_SOMENTE_NO_ENVIRONMENT_DO_BACKEND
ADMIN_TOKEN_SECRET=COLOQUE_SOMENTE_NO_ENVIRONMENT_DO_BACKEND
